.header-layout{
   // background:#EFF6F2;
   z-index: 1;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0;

    @media (max-width:475px) {
        padding: 1em 0;
      }

    .logo{
        width: 130px;
        min-height: 45px;
    }
    .menu-right{
       display: flex;
    //    width: fit-content;
      //  justify-content: space-between;
    //    border: 1px solid red;

       Button:last-of-type{
      //   margin-left: 2.2rem;
       }

       @media (max-width:475px) {
         display: none;
       }

    }
  
}