

.home{
    background: #EFF6F2;
    overflow: hidden;
    position: relative;
    // height: 100vh;
   
   

    .container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
    }

    .content-sec{
        width: 50%;

        h1{
            max-width: 600px;
            margin-bottom: 1em;
        }
        p {
            max-width: 676px;
        }
        
        form{
            padding: 7em 0;
            .input-group {
                background-color:  #fff;
                display: flex;
                width: 100%;
                max-width: 730px;
                // height: 70px;
                justify-content: space-between;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                border-radius: 20px;


                input {
                    border: none;
                    outline: none;
                    width: 70.7%;
                    max-width: 530px;
                    padding: 1.3em 0em 1.3em 3em ;
                    font-size:var(--fs-md);
                }
               
                 ::placeholder {
                    color: #AEB0B4;
                    font-weight: 700;
                    font-size: var(--fs-md);
                 }

                 @media (max-width: 350px) {
                    
                    background-color: unset;
                    display: block;
                    margin: 0px auto;
                    // border: 1px solid blue;
                    input{
                        width: 100%;
                        margin-bottom: 10px;
                    }
                    
                    button{
                        width:100%;
                        max-width:unset;
                        padding: 1em 0em;
                        
                    }
                }
                
            }
            
        }
    }
    
    .hero-img{
        position: relative;
        // border: 5px solid blue;
        // top: 30px;
        // left: 60%;
        bottom: -40px;
        width: 50%;
        // height: 100%;
        // object-fit: cover;
    }
   
    
    @media (max-width: 560px ){
        .hero-img{
          display: none;
        }
        .content-sec{
          width: 100%;
         form{
            padding: 4em 0;
         }
        }
      }
    
}

