@import '../styles/postjob.scss';


.form-login{
    max-width:678px;
    margin: 4em auto;
    @extend .form-box;
    
    .symb{
        color: #ff0000;
    }
    form{

        >* {
            margin: 1em 0;
        }

        
        button{
            width: 100%;
        }
        
        .not-member {
            font-size: var(--fs-md);
            text-align: center;
            span{
                font-weight: 600;
            }
            
        }
        input{
            &::placeholder{
               &::after{
                content: "***";
                color: #ff0000;
               }
            }
        }
    }
    
        
}