.form-box{
    border: 1px solid #d6d6d6;
    padding: 2em 2em;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .form-row {
        display: flex;
        width: 100%;
        justify-content: space-between;
        gap: 4em;

        @media (max-width:500px) {
            flex-direction: column;
            gap: unset;
        }

    }
    .form-group{
        display: flex;
        flex-direction: column;
        width: inherit;
    }
    .form-col {
        // margin: 2em 0;
    }

    button{
     align-self: flex-end;
     margin: 1em 0;
    }
}