@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew:wght@300;600;700;800;900&display=swap');


:root{
  --fs-xsm: 1rem;
  --fs-sm: 1.4rem;
  --fs-md: 1.8rem;
  --fs-xl: 3.5rem;
  --fs-xxl: 7rem;

  --line-h-sm: 2.5rem;
  --line-h-md: 3rem;
  --line-h-xl: 7rem;
}

@media (max-width: 800px)  {
 :root{
  --fs-xsm: 0.95rem;
  --fs-sm: 1.2rem;
  --fs-md: 1.5rem;
  --fs-xl: 2.5rem;
  --fs-xxl: 3.5rem;

  --line-h-sm: 1.8rem;
  --line-h-md: 2rem;
  --line-h-xl: 4rem;
 }
}


html {
    font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

ul {
 list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1 {
  font-size: var(--fs-xxl);
  font-weight: 700 ;
  font-family: 'Poppins', sans-serif;
  line-height: var(--line-h-xl); 
  color: #000;
  span {
    color: #338573;
  }
}

h2 {
 font-weight:700;
 font-size: var(--fs-xl);
 margin: 0;
}
h3{
  font-weight:600;
  font-size: var(--fs-md);
  margin: 0;
}


p , ul li{
  color: #726D6D;
  font-weight: 400;
  font-size: var(--fs-sm);
  line-height: var(--line-h-sm);
}
// span{
//   font-size: 1.3rem;
// }

.container{
  width: 90%;
  max-width: 1512px;
   margin: 0 auto;
   padding: 2em 0;
   position: relative;
}

label{
  color: #000;
  font-size: var(--fs-md);
  font-style: normal;
  font-weight: 500;
  margin: 0.8em 0;
}

input[type='text'], 
select,
input[type='date'],
textarea
{
  border-radius: 10px;
  border: 1px solid #d6d6d6;
  background: #fff;
  color: #AEB0B4;
  font-size: var(--fs-md);
  font-family: Inter;
  padding: .9em 0em .5em 1.3em;
  width: 100%;
  
  &:focus {
    border: 1px solid #338573;
    outline: none;
  }
  :placeholder{
    font-size: var(--fs-sm);
  }
  
}
textarea {
  min-height: 200px;
}
.btn {
  padding: .85em 2em;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}

.btn-primary {
  @extend .btn;
  color: #ffff;
  background-color: #338573;
}

.btn-secondary{
  @extend .btn;
  color: #338573;
  background-color: #ffff;
}

.btn-info{
  @extend .btn;
  color: #000;
  background-color: #ffff;
  border: 1px solid #AAA;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25)
}

.btn-w-b{
    @extend .btn;
    color: #338573;
    background: none;
    border: none;
}
.bg-color {
  background-color:#338573;
}

.title-heading{
  background-color: #F4F5F7;
  padding: 1.2em 0;
  text-align: center;
  font-size: var(--fs-xl);
  font-weight: 500;
 
}
.footer-bg{
 @extend .bg-color;
 p{
  color: #ffff;
  text-align: center;
 }
}