@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Hebrew:wght@300;600;700;800;900&display=swap');


:root{
  --fs-xsm: 1rem;
  --fs-sm: 1.4rem;
  --fs-md: 1.8rem;
  --fs-xl: 3.5rem;
  --fs-xxl: 7rem;

  --line-h-sm: 2.5rem;
  --line-h-md: 3rem;
  --line-h-xl: 7rem;
}

@media (max-width: 800px)  {
 :root{
  --fs-xsm: 0.5rem;
  --fs-sm: 1.2rem;
  --fs-md: 1.5rem;
  --fs-xl: 2.5rem;
  --fs-xxl: 3.5rem;

  --line-h-sm: 1.8rem;
  --line-h-md: 2rem;
  --line-h-xl: 4rem;
 }
}


html {
    font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

ul {
 list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1 {
  font-size: var(--fs-xxl);
  font-weight: 700 ;
  font-family: 'Poppins', sans-serif;
  line-height: var(--line-h-xl); 
  color: #000;
  span {
    color: #338573;
  }
}

h2 {
 font-weight:700;
 font-size: var(--fs-xl);
 margin: 0;
}
h3{
  font-weight:600;
  font-size: var(--fs-md);
  margin: 0;
}

p {
  color: #726D6D;
  font-weight: 400;
  font-size: var(--fs-sm);
  line-height: var(--line-h-sm);
}
// span{
//   font-size: 1.3rem;
// }

.container{
  width: 90%;
  max-width: 1512px;
   margin: 0 auto;
   padding: 2em 0;
   position: relative;
}
.btn {
  padding: .85em 2em;
  border: none;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 600;
  cursor: pointer;
}

.btn-primary {
  @extend .btn;
  color: #ffff;
  background-color: #338573;
}

.btn-secondary{
  @extend .btn;
  color: #338573;
  background-color: #ffff;
}

.btn-w-b{
    @extend .btn;
    color: #338573;
    background: none;
    border: none;
}
.bg-color {
  background-color:#338573;
}
.footer-bg{
 @extend .bg-color;
 p{
  color: #ffff;
  text-align: center;
 }
}